
  <mat-accordion *ngIf="ItemRisk.length > 0">
    <!-- display Customer -->
      <mat-expansion-panel *ngFor="let customer of customers" >
          <mat-expansion-panel-header>
            Customer
          </mat-expansion-panel-header>
          <p>First Name: {{customer.FirstName}}</p>
          <p>Surname: {{customer.Surname}}</p>
          <p>SA ID: {{customer.ZAID}}</p>
        </mat-expansion-panel>

        <!-- display policy -->

      <mat-expansion-panel *ngFor="let policy of policies" >
        <mat-expansion-panel-header>
          Policy
        </mat-expansion-panel-header>
        <p>Debit Order Date: {{policy.DebitOrderDate}}</p>
        <p>Policy Inception Date: {{policy.PolicyInceptionDate}}</p>
        <p>Policy Number: {{policy.PolicyNumber}}</p>
        <p>Policy Stutas: {{policy.PolicyStutas}}</p>
        <p>Premium: {{policy.Premium}}</p>
        <p>Transaction Date: {{policy.TransactionDate}}</p>
      </mat-expansion-panel>
        <!-- display risk items -->
      <mat-expansion-panel *ngFor="let risk of ItemRisk" >
          <mat-expansion-panel-header>
            Risk Items
          </mat-expansion-panel-header>
          <p>Premium: {{risk.Premium}}</p>
          <p>Risk Item Name: {{risk.RiskItemName}}</p>
          <p>Risk Start Date: {{risk.RiskStartDate}}</p>
        </mat-expansion-panel>
    </mat-accordion>
    <P class="info-text mat-body-1" *ngIf="policies.length <= 0">No customer added yet</P>
